/******** Font Family *********/
@font-face {
    font-family: openSans-light;
    src: url(../fonts/open_sans/OpenSans-light.woff);
}
@font-face {
    font-family: openSans-bold;
    src: url(../fonts/open_sans/OpenSans-bold.woff);
    font-weight: bold;
}
.openSans-light {font-family: openSans-light;}
.openSans-bold {font-family: openSans-bold;}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato/Lato-Regular.woff);
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: lato-italic;
    src: url(../fonts/lato/Lato-Regular-Italic.woff);
    font-style: italic;
}
.lato-regular {font-family: lato-regular;}
.lato-bold {font-family: lato-bold;}
.lato-italic {font-family: lato-italic;}

html {-webkit-text-size-adjust:100%;}
body {background-color: #fff; position: relative; margin: 0px; padding: 0px; font-family: lato-regular,openSans-light,sans-serif; color: #333333;}
* {margin:0; padding:0; border:0; outline:0; box-sizing: border-box; height: auto; }
ul li {list-style-type: none;}
img {font-size: 0;}

#container {background-color: #F1F1F1; padding: 0px;}

/* common styles starts from here */
.button {
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;	
  height: 44px;
  line-height: 15px;
  min-width: 100px;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
}
.button:hover, .button:focus, .button:active {
  text-decoration: none;
}
.button.btn-green {
  background-color: #47D7AC;
  border: 1px solid #47D7AC;
  color: #FFF;
}
.button.btn-round {
	border-radius: 100px;
	height: 36px;
	padding: 10px 16px;
}
.button.btn-green-plain {
  background-color: transparent;
  border: 1px solid #47D7AC;
  font-size: 14px;
  width: 100%;
  color: #4A4A4A;
}
.btn-small {
    height: 36px;
    padding: 0;
    line-height: 36px;
    border-radius: 4px;
    font-size: 12px !important;
}
.btn-small.btn-green-plain {
  background: transparent;
  color: #47D7AC;
  border: 2px solid #47D7AC;
  width: auto;
}
.nwook-selectable-button {display: inline-block;}
.nwook-selectable-button button {
  min-width: 100px;
  height: 24px;
  font-size: 12px;
  background-color: #D8D8D8;
  line-height: 15px;
  color: #4A4A4A;
}
.nwook-selectable-button.selected button {
  background-color: #47D7AC;
  color: #FFF;
}
.btn-selectable-group nwook-selectable-button:not(:first-child) {
  margin-left: -4px;
}

.button:hover, .button:focus {box-shadow: 0 0 2px #D8D8D8; font-family: lato-bold;}
.btn-green:hover, .btn-green:focus { box-shadow: 0 0 2px #47D7AC; font-family: lato-bold; }
.btn-green-plain:hover, .btn-green-plain:focus { box-shadow: 0 0 2px #47D7AC; font-family: lato-bold;}

.label {
  font-size: 16px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 19px;
  padding: 0px;
}
.help-text {
  font-size: 12px;
  color: #9B9B9B;
  line-height: 15px;
  margin-bottom: 5px;
}
.tiny-text { font-size: 8px; line-height: 10px; }
input[type=text] { height: 36px; }
input[type=text], textarea {
  border: 1px solid #D8D8D8;
  width: 100%;
  padding: 10px;
  font-size: 14px
}
textarea { resize: none; }
.form-item {
  margin-top: 20px;
}
.clear { clear: both;}
.primary-green { color: #47D7AC;}
.text-center { text-align: center; }
.error { color: #d0021b; font-size: 12px;}
.fieldError input[type=text],
.fieldError textarea,
.fieldError .nwook-dropdown .dropdown-toggle { border-color: #d0021b; }
.padding0 {padding: 0px;}
.clear { clear: both;}
.hide { display: none; }
.inline-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.inline-form .label {
  width: 30%;
  text-align: right;
  margin: 8px 20px 0 0;
}
.inline-form .elem-wrapper { width: 40%; }
.heading-n {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}
.group-title{	
  color: #4A4A4A;	
  font-size: 12px;	
  line-height: 15px;
  margin-top: 20px;
}
.input-label {
  color: #4A4A4A;	
  font-size: 12px;	
  line-height: 15px;
  margin-left: 6px;
}
.radio-btn { display: inline-block; margin: 10px 40px 0 0;}

.addOnTag .deleteAddon {
    color: #ffffff;
    background: #d0d0d0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: -10px;
    padding-left: 6px;
    font-size: 14px;
}
.addOnTag .col-xs-2{
  margin-right: 10px;
}
/* dropdown styles start */
.nwook-dropdown .dropdown-toggle {
    border: 1px solid #D8D8D8;
    min-height: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    background: transparent;
    width: 100%;
    flex-wrap: wrap;
    color: #4A4A4A;
}
.nwook-dropdown .dropdown-toggle .caret {
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    right: 10px;
}
.nwook-dropdown .dropdown-toggle input[type=text] {
  padding: 0px;
  border: none;
  height: 34px;
  width: auto;
}

.nwook-dropdown .dropdown-menu { 
  border-radius: 0px;     
  max-height: 250px;
  overflow: auto;
  width: 100%;
  font-size: 10px;
}
.nwook-dropdown .dropdown-menu > li.disabled {
  pointer-events: none;
  color: D0D0D0;
}
.nwook-dropdown .dropdown-menu > li > a:focus, 
.nwook-dropdown .dropdown-menu > li > a:hover {
  color: #FFF;
  background-color: #47D7AC;
  outline: none;
}
.nwook-dropdown .dropdown-tag {
  background: #F1F1F1;
  padding: 5px;
  font-size: 10px;
  border-radius: 4px;
  margin-right: 5px;
}
.nwook-dropdown .tag-close {
  margin-left: 8px;
  cursor: pointer;
}
.nwook-input-dropdown input {
  border-right: none;
  width: 60%;
  float: left;
}
.nwook-input-dropdown .nwook-dropdown {
  width: 40%;
  float: left;
}
.nwook-input-dropdown .nwook-dropdown .dropdown-menu { min-width: 100%; }
/* dropdown styles end */

/* nwook popup styles */
.nwook-popup .modal-content {
  border-radius: 0px;
  border: none;
}
.nwook-popup .modal-header {
  background-color: #47D7AC;
  color: #FFF;
  text-transform: uppercase;
  font-family: lato-bold;
  padding: 10px 15px;
}
.nwook-popup .modal-header .close {
	color: #FFF;
	opacity: 1;
}
/* nwook popup styles end */

/* Counter styles starts here */
.counterWrapper {
  height: 36px;
  border: 1px solid #D8D8D8;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.counterWrapper div { 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counterWrapper .first, .counterWrapper .last { width: 36px; padding: 10px; cursor: pointer;}
.counterWrapper .first { border-right: 1px solid #D8D8D8; color: #D0021B; }
.counterWrapper .last { border-left: 1px solid #D8D8D8; color: #7ED321; }
.counterWrapper .disabled { opacity: 0.5; pointer-events: none; }
 /* Counter styles ends here */

 /* Switch/Slider */
 .switch-container {
   display: flex;
   margin-top: 20x;
 }
 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
  background-color: rgba(71,215,172,0.2);;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 0px;
  background-color: #47D7AC;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -6px;
}
.switch-container .input-label { margin: 0 10px;}
/* Switch/Slider styles end */
/* common styles ends here */

/* Left container styles starts from here */
#left-menu { width: 265px; padding: 0px; }
.menu-item {
  height: 56px;
  width: 56px;
  background: #FFF;
  padding: 8px;
  margin-bottom: 2px;
  position: relative;
}
.menu-item img { width: 100%; height: 100%; }
.menu-item .tooltip {
  opacity: 1;
  left: 58px;
  top: 2px;
  width: 211px;
  height: 52px;
  font-family: lato-regular;
  font-size: 12px;
  line-height: 15px;
}
.menu-item .tooltip-inner {
  height: 100%;
  border-radius: 0px;
  max-width: 100%;
  padding: 11px 8px;
}
.menu-item .tooltip .tooltip-arrow {
    left: -5px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
}
#status-indicator { width: 180px; padding: 0; }
#left-container {
  background-color: #FFF;
  height: 100%;
  padding: 15px 0;
  margin-right: 28px;
  margin-left: 52px;
  width: 100px;
}
.tab-item {
  color: #D8D8D8;  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 12px;	
  line-height: 15px;
  text-align: center;
  font-weight: lighter;
}
.circle {
  background-color: #D8D8D8;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 3px;
}
.line { height: 23px; border-left: 1px solid #D8D8D8; }
.visited .circle { background-color: #F5A623; }
.visited .line { border-color: #F5A623;}
.visited { color: #F5A623; }
/* Left container styles ends here */

/* Right container styles starts from here */
#right-wrapper { width: calc(100% - 445px); padding: 0px;}
#right-container {
  background-color: #FFF;
  min-height: 300px;
  width: 100%;
  font-weight: 300;
}
#form-container { padding: 36px 54px; }
#buttonContainer { padding: 20px 0; text-align: right; }
.location-item .form-item{ float: left; width: 40%; }
.location-item .form-item:first-child{ width: 50%; margin-right: 10%;}
.address-item .form-item{ float: left; width: 18%; margin-right: 5%; }
.address-item .form-item:first-child{ width: 30%; }
.address-item .form-item:last-child{ margin-right: 0; }
.tags-container button {
  width: 100%; 
  margin-bottom: 20px; 
  color: #fff;
}
.uploadImgContainer {
  border: 1px solid #D8D8D8;
  width: 140px;
  height: 110px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 16px;
  position: relative;
}
.uploadImgContainer img { height: 100%; width: 100%; }
.uploadImgContainer.addImgBtn { background: #D8D8D8; }
.uploadImgContainer.addImgBtn div { position: absolute;}
.uploadImgContainer.addImgBtn div:first-child{ height: 40px; left: 70px; border-left: 1px solid #FFFFFF;}
.uploadImgContainer.addImgBtn div:last-child{ width: 41px; left: 50px; border-top: 1px solid #FFFFFF;}
.promotions .help-text, .coupon-promotions .help-text { margin-bottom: 5px; }
.coupon-promotions { margin-top: 100px; }
.addon-container .help-text { margin-bottom: 6px; }
/* Right container styles ends here */

/* Header styles starts here */
  #app-header { 
    background: #fff;
    min-height: 120px;
    margin-bottom: 27px;
    padding: 0;
  }
/* header styles end */

.schedule span{
    width: 15px;
    height: 23px;
    background: #DEEAFE;
    display: block;
    cursor: pointer;
}
.schedule{
    border: 1px solid #979797;
}
.timeslot:nth-child(2n){
   border-right: 1px solid #D0D0D0;
}
.timeslot{
  width: 2%;
  height: 20px;
  float: left;
}
.timeslot:nth-child(6n){
   border-right:1px solid #979797;
}
.grey{
  background: #DEEAFE;height: 20px;
  cursor: pointer;
}
.white{
  background: #FAFAFA;height: 20px;
}

.toolTip{
  	box-sizing: border-box;	
    height: 92px;	
    width: 182px;	
    border: 1px solid #47D7AC;	
    border-radius: 3px;
    position: absolute;
    top: 40%;
    left: 38%;
    display: none;
}
.pricePerHour span{
    color: #47D7AC;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.toolTipHeader{
  height: 30px;	
  width: 180px;	
  border: 1px solid #47D7AC;	
  border-radius: 3px 3px 0 0;	
  background-color: #47D7AC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.noOfSeats,.pricePerHour{
  height: 30px;
  position: relative;
}
.noOfSeats input,.pricePerHour input{
  height: 100%;
  border: 0px;
}
#noOfSeats{
  border-bottom: 1px solid #47D7AC;
}
.day {
    float: left;
    width: 11.5%;
}
.dayWrapper{
  height: 20px;
}
.selected{
  background: #47D7AC;
}
.dayRepeater {
    width: 96px;
    float: left;
}
.timePicker{
    height: 200px;
    border: 1px solid #D8D8D8;
    overflow: auto;
    clear: both;
    width: 265px;
    position: absolute;
    background: #ffffff;
    z-index: 10;
    top: 34px;
}
.timePicker span{
    height: 30px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.timePicker span:hover{
  background: #47D7AC;
}
.timepicker{
  display: block;
  float: left;
}
.timepicker{
  margin-right: 30px;
  width: 31.50%;
}
.timepicker button{
  border-radius: 0px;
}
.slotSelector label{
  display: block;
}
table{
  width: 100%;
  border: 1px solid #dedede;
  border-collapse: collapse;
  margin-top: 30px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    background: #47D7AC;
    color: #fff;
}
td span{
  display: block;
}
.disabled{
  background: #ebebe4 !important;
  cursor: default !important;
}
.packageName input{
  border: 0px;
  border-bottom: 1px solid #D8D8D8;
}
.configDiscountTable th{
  background: transparent;
  border: none;
}
.configDiscountTable table{
  border: 0px;
  margin-top: 10px;
}
.configDiscountTable input{
  border: 0px;
  padding: 0px;
  text-align: center;
  height: 25px;
}
