<div class="heading-n">Universal Add-Ons</div>
<div class="tags-container addOnTag">
            <div class="row">
                <div class="col-xs-2 padding0 ng-scope" ng-repeat="addOn in formData.addOns.addonList | filter: {saved: true}">
                    <button type="button" class="button btn-round btn-green ng-binding">{{formData.addOns.addonList[$index].addOnName}}</button>
                    <span class="deleteAddon" ng-click="$parent.deleteAddOn(addOn)">x</span>
                </div>
                
            </div>
        </div>
<div class="group-title">Create an add-on</div>
<div class="addon-container">
    <div class="wrapper" ng-repeat="item in formData.addOns.addonList | filter: {saved: false}"> 
        <div class="row">
            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && spaceForm.addOnName.$error.required)}">
                <div class="help-text">Name</div>
                <input type="text" name="addOnName" ng-model="item.addOnName" required />
                <div class="error" ng-show="spaceForm.addOnName.$error.required">Please enter name.</div>
            </div>

            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && spaceForm.inventory.$error.required)}">
                <div class="help-text">Inventory</div>
                <input type="text" name="inventory" ng-model="item.inventory" required />
                <div class="error" ng-show="spaceForm.$submitted && spaceForm.inventory.$error.required">Please enter Inventory.</div>
            </div>
            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && (spaceForm.price.$error.required || spaceForm.price.$error.priceUnit))}">
                <div class="help-text">Price per unit/hour</div>
                <nwook-input-dropdown id="pricePerUnit" dropdown-items="priceUnits" dropdown-name="pricePerUnit" dropdown-model="item.priceUnit" input-name="price" input-model="item.price" required="true"></nwook-input-dropdown>
            </div>
            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && spaceForm.serviceType.$error.required)}">
                <div class="help-text">Free or paid</div>
                <nwook-dropdown id="serviceType" items="serviceTypeList" name="serviceType" model="item.serviceType" required="true"></nwook-dropdown>
                <div class="error" ng-show="spaceForm.$submitted && spaceForm.serviceType.$error.required">Please select Free/Paid.</div>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-lg-3">
                <div class="help-text">Min quantity (optional)</div>
                <input type="text" ng-model="item.minQty" />
            </div>

            <div class="form-item col-lg-3">
                <div class="help-text">Max quantity (optional)</div>
                <input type="text" />
            </div>
            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && spaceForm.subAddOnPricing.$error.required)}">
                <div class="help-text">Sub add-on pricing</div>
                <input type="text" name="subAddOnPricing" ng-model="item.subAddOnPricing" required />
                <div class="error" ng-show="spaceForm.$submitted && spaceForm.subAddOnPricing.$error.required">Please enter sub add-on pricing.</div>
            </div>
            <div class="form-item col-lg-3" ng-class="{'fieldError': (spaceForm.$submitted && spaceForm.addOnHours.$error.required)}">
                <div class="help-text">Hours</div>
                <input type="text" name="addOnHours" ng-model="item.addOnHours" required />
                <div class="error" ng-show="spaceForm.$submitted && spaceForm.addOnHours.$error.required">Please enter hours.</div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <input type="checkbox" name="convertToSubAddon" ng-model="formData.addOns.convertToSubAddon">
                <label class="input-label">Convert to sub add on</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-item">
            <button type="button" ng-click="createAddon()" class="button btn-green-plain btn-round"><span class="fa-plus"></span> Create another</button>
        </div>
        <div class="col-lg-8 form-item text-right">
            <button type="button" class="button btn-small btn-green-plain">CANCEL</button>
            <button type="button" class="button btn-small btn-green" ng-click="saveAddOn()">SAVE</button>
        </div>
    </div>
</div>
<div class="clear"></div>
