<div class="heading-n">Engine Tabs</div>

<div class="group-title">Select engine tabs applicable for the space</div>

<div class="addon-container">
    <div class="row">
        <div class="form-item col-lg-4">
            <div class="help-text">Mandatory</div>
            <div class="btn-selectable-group">
                <nwook-selectable-button name="seats" model="formData.engineInfo.seats" text="Seats"></nwook-selectable-button>
                <nwook-selectable-button name="rooms" model="formData.engineInfo.rooms" text="Rooms"></nwook-selectable-button>
            </div>
        </div>
        <div class="form-item col-lg-2">
            <div class="help-text">Optional</div>
            <nwook-selectable-button name="byTheHour" model="formData.engineInfo.byTheHour" text="By the hour"></nwook-selectable-button>
        </div>
        <div class="form-item col-lg-2">
            <div class="help-text">Optional</div>
            <nwook-selectable-button name="dedicated" model="formData.engineInfo.dedicated" text="Dedicated"></nwook-selectable-button>
        </div>
        <div class="form-item col-lg-2">
            <div class="help-text">Optional</div>
            <nwook-selectable-button name="packages" model="formData.engineInfo.packages" text="Packages"></nwook-selectable-button>
        </div>    
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-item col-lg-12">
            <div class="label">Booking Confirmation</div>
            <div class="help-text">Choose whether a booking is subject to a review or auto confirmation</div>
            <div class="radio-btn">
                <input type="radio" name="bookingConfirmation"/>
                <span class="input-label">Auto confirm</span>
            </div>
            <div class="radio-btn">
                <input type="radio" name="bookingConfirmation"/>
                <span class="input-label">Post review</span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-item col-lg-12">
            <div class="label">Identification Requirement</div>
            <div class="help-text">Sub text</div>
            <div class="radio-btn">
                <input type="radio" name="identification"/>
                <span class="input-label">Mandatory</span>
            </div>
            <div class="radio-btn">
                <input type="radio" name="identification"/>
                <span class="input-label">Optional</span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-item col-lg-4">
            <div class="label">Allow cash?</div>
            <div class="help-text">Sub text</div>
            <div class="switch-container">
                <span class="input-label">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="input-label">No</span>
            </div>
        </div>
        <div class="form-item col-lg-7">
            <div class="label">Maximum cash allowed</div>
            <div class="help-text">Enter value in </div>
            <input type="text" />
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-item col-lg-4">
            <div class="label">Credits Accepted?</div>
            <div class="help-text">Select Yes if space allows usage of credits</div>
            <div class="switch-container">
                <span class="input-label">Yes</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="input-label">No</span>
            </div>
        </div>
        <div class="form-item col-lg-7">
            <div class="label">Maximum credits allowed</div>
            <div class="help-text">Enter value</div>
            <input type="text" />
        </div>
    </div>
