<div class="heading-n">Promotion and Rules</div>
<div class="row promotions">
    <div class="form-item col-xs-12">
        <div class="label">Range-based rules</div>
        <div class="row">
            <div class="form-item col-xs-3">
                <div class="help-text">Initiated by</div>
                <nwook-dropdown id="initiatedBy" items="stateList" name="initiatedBy" model="formData.promotions.initiatedBy"></nwook-dropdown>
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text">Select primary criteria</div>
                <nwook-dropdown id="noOfSeats" items="stateList" name="noOfSeats" model="formData.promotions.noOfSeats"></nwook-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-3">
                <div class="help-text">&nbsp;</div>
                <nwook-dropdown id="criteriaOp" items="stateList" name="criteriaOp" model="formData.promotions.criteriaOp"></nwook-dropdown>
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text">&nbsp;</div>
                <input type="text" ng-model="formData.promotions.str" />
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text lato-italic">and - optional</div>
                <nwook-dropdown id="criteriaOp2" items="stateList" name="criteriaOp2" model="formData.promotions.criteriaOp2"></nwook-dropdown>
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text">&nbsp;</div>
                <input type="text" ng-model="formData.promotions.str2" />
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-3">
                <div class="help-text">then discount</div>
                <nwook-input-dropdown id="discount" dropdown-items="stateList" dropdown-name="discountType" dropdown-model="formData.promotions.discountType" input-name="discount" input-model="formData.promotions.discount"></nwook-input-dropdown>
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text lato-italic">apply as - mandatory</div>
                <nwook-dropdown id="offer" items="stateList" name="offer" model="formData.promotions.offer"></nwook-dropdown>
            </div>
            <div class="form-item col-xs-5">
                <div class="help-text">applicable to</div>
                <nwook-filter-dropdown id="applicable" items="stateList" name="applicable" model="formData.promotions.applicable"></nwook-filter-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-4">
                <button type="button" class="button btn-round btn-light-green-plain" style="width: 100%;">+ Click to insert another</button>
            </div>
        </div>
    </div>
</div>

<div class="row coupon-promotions">
    <div class="form-item col-xs-12">
        <div class="label">Coupon-based promotions</div>
        <div class="row">
            <div class="form-item col-xs-3">
                <div class="help-text">Initiated by</div>
                <nwook-dropdown id="initiatedBy1" items="stateList" name="initiatedBy1" model="formData.promotions.initiatedBy1"></nwook-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-3">
                <div class="help-text">Coupon code</div>
                <input type="text" ng-model="formData.promotions.str1" placeholder="Enter here.." />
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text">Discount</div>
                <nwook-input-dropdown id="discount1" dropdown-items="stateList" dropdown-name="discountType1" dropdown-model="formData.promotions.discountType1" input-name="discount1" input-model="formData.promotions.discount1"></nwook-input-dropdown>
            </div>
            <div class="form-item col-xs-3">
                <div class="help-text lato-italic">apply as - mandatory</div>
                <nwook-dropdown id="offer1" items="stateList" name="offer1" model="formData.promotions.offer1"></nwook-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-5">
                <div class="help-text">applicable to</div>
                <nwook-filter-dropdown id="applicable1" items="stateList" name="applicable1" model="formData.promotions.applicable1"></nwook-filter-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="form-item col-xs-4">
                <button type="button" class="button btn-round btn-light-green-plain" style="width: 100%;">+ Click to insert another</button>
            </div>
        </div>
    </div>
</div>
