<h2>Timings</h2>
<div class="dayWrapper">
<div class="dayRepeater" ng-repeat="day in dummyHours"  ng-if = "($index%6) == 0">
        <div class="day">{{day}}</div>
</div>
</div>
<div class="schedule">
    <div class="hour" ng-repeat="day in dummyDays">
        <div class="grey">
            <div ng-repeat="hour in dummyHours" class="timeslot"></div>
        </div>
        <div class="white">
            <div ng-repeat="hour in dummyHours" class="timeslot"></div>
        </div>
    </div> 
    <div class="clear"></div>
</div>

<div class="toolTip">
    <div class="toolTipHeader">
        6AM to 2PM
    </div>
    <div class="noOfSeats">
        <input type="text" id="noOfSeats" placeholder="Enter no of seats"/>
    </div>
    <div class="pricePerHour">
        <input type="text" id="pricePerHour" placeholder="Enter price per hour"/>
    </div>
</div>