<h2>Timings</h2>              
<div class="row dateSelectorContainer">
    <div class="col-lg-4">
        <label>Start Date</label>
        <div class="input-group date datepicker">
            
            <input type="date" class="form-control" ng-model="timings.dates.startdate">
            <div class="input-group-addon">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <label>End Date</label>
        <div class="input-group date datepicker">
             
            <input type="date" class="form-control" ng-model="timings.dates.enddate">
            <div class="input-group-addon">
            </div>
        </div>
    </div>
</div>


<div class="dayWrapper">
<div class="dayRepeater" ng-repeat="day in dummyHours"  ng-if = "($index%6) == 0">
        <div class="time_day">{{day}}</div>
</div>
</div>
<div class="schedule">
    <div class="hour" ng-repeat="day in dummyDays" day="{{day}}">
        <div class="grey">
            <div ng-repeat="hour in dummyHours" slotIndex="{{$index}}" name='{{day}}_{{$index}}' ng-click="bookSlot($event)" class="timeslot"></div>
        </div>
        <div class="white">
            <div ng-repeat="hour in dummyHours" class="timeslot"></div>
        </div>
    </div> 
    <div class="clear"></div>
</div>

<div class="toolTip">
    <div class="toolTipHeader">
        {{tooltipStartTime}} to {{tooltipEndTime}}
    </div>
    <div class="noOfSeats">
        <input type="text" id="noOfSeats" placeholder="Enter no of seats" ng-model="tooltipNumOfSeats "/>
    </div>
    <div class="pricePerHour">
        <input type="text" id="pricePerHour" placeholder="Enter price per hour" ng-model="tooltipPricePerHour" />
        <span ng-click="saveSlot()">Next</span>
    </div>
</div>
